@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 64px 52px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.lsn {
  list-style: none;
}

.container {
  margin: 0 20%;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.date {
  font-size: 15pt;
}

.month {
  font-size: 8pt;
}

.yellow {
  border: solid #fac012;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}