.header {
  margin-top: 64px;
}
.logo {
  margin: 0 10%;
}
.logo > img {
  margin: 0 auto;
  width: 100%;
}

.header-items {
  float: left;
  margin: 0 10%;
}

.search-header-item {
  max-width: 33px;
  height: 31px;
  margin-top: 10px;
}

.cart-icon {
  margin-left: 30px;
  margin-top: 10px;
  max-width: 33px;
  height: 31px;
}

.cart-details {
  margin-left: 20px;
  font-size: 8pt;
}

.cart-items-number {
  font-size: 30pt;
}
.cart-items {
  font-size: 8pt;
  vertical-align: super;
}

.hamburger-menu {
  display: none;
  max-width: 32px;
  margin-left: 20px;
}

.featured-content {
  display: none;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  height: 490px;
  max-width: 800px;
  border: 10px solid #fac012;
  padding: 0px 52px;
}

#pentagon-left {
  position: absolute;
  top: 50%;
  left: -50px;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #fac012 transparent;
  transform: rotate(180deg);
}
#pentagon-left:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent #fac012;
}

#pentagon-right {
  position: absolute;
  top: 50%;
  right: -50px;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #1c1105 transparent;
  transform: rotate(180deg);
}
#pentagon-right:before {
  color: white;
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent #1c1105;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pentagon-left-arrow {
  position: absolute;
  top: -47px;
  left: 30%;
  height: 10px;
  width: 10px;
}

.pentagon-right-arrow {
  position: absolute;
  top: -47px;
  left: 30%;
  height: 10px;
  width: 10px;
}

.featured-heading {
  margin: 70px 12px 15px 0px;
}

.featured-title {
  font-size: 25pt;
}

.stacked-button-background {
  font-size: 10pt;
  position: relative;
  background: #1c1105;
  color: white;
  padding: 15px 40px 15px 20px;
}

.stacked-button-foreground {
  height: 30px;
  width: 30px;
  background: #fac012;
  color: white;
  line-height: 45px;
  position: absolute;
  right: -6.5%;
  bottom: -20%;
}

.stacked-button-foreground-arrow {
  position: absolute;
  top: 35%;
  left: 30%;
}

.featured-content-properties {
  max-width: 800px;
  margin-top: 40px;
}

.featured-content-properties-child {
  width: calc(100% / 3);
}

.featured-content-properties-child-headings {
  margin-left: 17px;
}

.featured-content-properties-child-main-heading {
  font-size: 13pt;
  font-weight: bold;
}

.featured-content-properties-child-sub-heading {
  font-size: 10pt;
}
.navbar {
  padding-left: 10%;
  margin: 50px -52px 0 -52px;
  background-color: #1c1105;
  height: 95px;
  color: white;
}

.navbar-hamburger-menu > img {
  margin: 35px;
}

.navbar-items-list {
  display: none;
}

.navbar-items-list > li {
  margin-top: 40px;
  float: left;
  font-size: 9pt;
  font-weight: bold;
}

.navbar-items-list li a{
  padding: 45px 40px;

}

.navbar-li-right-arrow{
  visibility: hidden;
  margin-left: 10px;
}

.navbar-items-list > li:hover {
 color: #fac012;
}

.navbar-items-list > li:hover .navbar-li-right-arrow{
  visibility: visible;
 }

.featured-products {
  width: 100%;
  margin-top: 85px;
}

.featured-product-child {
  box-sizing: border-box;
  height: 200px;
  width: calc(100% - 10px);
  margin-top: 10px;
  position: relative;
}

.pattern-image {
  height: 100%;
  background: url(./images/components/pattern-image.png) no-repeat 0 0;
}

.featured-product-child:hover .pattern-image {
  opacity: 0.5;
}

.featured-product-child > .featured-details-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.featured-product-child:hover #featured-product-button {
  display: block;
}

.featured-product-child-heading {
  position: absolute;
  top: 8%;
  padding-top: 33px;
  padding-left: 35px;
  font-weight: bold;
  font-size: 10pt;
}

.featured-products-pagination {
  margin-top: 100px;
  position: relative;
}

.featured-products-pagination > hr {
  height: 5px;
  background: #f7f7f7;
  border: none;
}

.pagination-buttons {
  margin: 0 auto;
  max-width: 125px;
}

.left-button {
  position: relative;
  background: url(./images/components/left.png) no-repeat 0 0;
  width: 50px;
  height: 50px;
  top: -40px;
  margin-right: 12px;
}
.left-button:hover {
  background: url(./images/components/left-hover.png) no-repeat 0 0;
}
.right-button {
  position: relative;
  top: -40px;
  background: url(./images/components/right.png) no-repeat 0 0;
  width: 50px;
  height: 50px;
  margin-left: 12px;
}
.right-button:hover {
  background: url(./images/components/right-hover.png) no-repeat 0 0;
}

.latest-furniture {
  margin-top: 50px;
}

.latest-furniture-heading {
  text-align: center;
  font-size: 20pt;
}

.latest-furniture-heading > hr {
  max-width: 65px;
  background: #e7e7e7;
  border: none;
  height: 3px;
  margin-top: 24px;
}

.latest-furniture-cards {
  margin-top: 60px;
}

.latest-furniture-cards-child {
  width: calc(100% - 10px);
  font-size: 10pt;
  text-align: center;
  border: 1px solid #ededed;
  margin-top: 10px;
}

.latest-furniture-cards-child:last-child {
  margin-right: 0px;
}

.latest-furniture-cards-child-heading {
  font-weight: bold;
  padding-top: 200px;
}

.latest-furniture-cards-child-sub-heading {
  color: #ababab;
  margin-top: 25px;
}

.latest-furniture-cards-child-price {
  color: #fac012;
  font-size: 15pt;
  margin-top: 20px;
}
.latest-furniture-cards-child-cart-button-icon {
  margin-right: 10px;
  vertical-align: middle;
}
.latest-furniture-cards-child-cart-button {
  margin-top: 28px;
  height: 54px;
  background: #fac012;
  color: white;
  font-size: 10pt;
  line-height: 54px;
  font-weight: bold;
}

.add-to-cart {
  vertical-align: middle;
}

.latest-furniture-cards-child-promo {
  position: relative;
  background: #1c1105;
  max-width: min-content;
  color: white;
  padding: 10px;
  font-size: 6pt;
  margin-top: 13px;
  margin-left: 14px;
}

.promo-new {
  background: #fac012;
}

.latest-furniture-cards-child-container {
  margin: 0 10px;
}

.choose-youniverse {
  background: #28231d;
  padding: 115px 0;
  margin: 100px -52px 0 -52px;
  color: white;
}

.choose-youniverse-container {
  max-width: 80%;
  margin-right: 10%;
}

.choose-youniverse-heading {
  font-size: 20pt;
}

.choose-youniverse-heading > hr {
  max-width: 66px;
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: 40px;
  border: none;
  height: 3px;
  background: #fac012;
}

.choose-youniverse-buttons {
  margin-top: 50px;
  margin-bottom: 20px;
}

.choose-youniverse-button {
  padding: 25px 28px;
  border: 1px solid white;
}

.arrow-box {
  background: url(./images/components/arrow-right-box.png) no-repeat 0 0;
  height: 31px;
  width: 31px;
  float: right;
  position: relative;
  right: -40px;
  top: -5px;
}

.choose-youniverse-button:hover {
  background: #fac012;
  border: 1px solid #fac012;
}

.choose-youniverse-button:hover .arrow-box {
  background: url(./images/components/arrow-down-box.png) no-repeat 0 0;
}

.latest-posts {
  margin-top: 100px;
}

.latest-post-cards {
  margin-top: 47px;
}

.latest-posts-cards-child {
  width: calc(100% - 10px);
  margin-top: 10px;
}

.image-holder {
  background: #f6f6f6;
  height: 162px;
  position: relative;
}

.information-holder {
  margin-top: 18px;
}

.date-holder {
  max-width: 8%;
  font-weight: bold;
  text-align: center;
  border: 1px solid #dedede;
  padding: 14px 16px;
  margin-right: 20px;
}

.details-holder {
  max-width: 70%;
}

.details-heading {
  font-size: 12pt;
  font-weight: bold;
}

.post-metadata {
  font-size: 10pt;
  margin-top: 2px;
  margin-bottom: 10px;
  color: #9c9c9c;
}

.metadata-author,
.metadata-category,
.metadata-comments {
  margin-right: 10px;
}

.author,
.category,
.comments {
  color: #fac012;
}

.post-description {
  font-size: 10pt;
  color: #9c9c9c;
}

.image-holder-hover-icon {
  display: none;
  color: white;
  font-size: 60pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.latest-posts-cards-child:hover .image-holder {
  background: #fac528;
}

.latest-posts-cards-child:hover .image-holder-hover-icon {
  display: block;
}

.discounts {
  margin: 100px -52px 0 -52px;
  background: linear-gradient(105deg, #f6f6f6 10%, #323232 10%);
  color: white;
}

.discounts-container {
  padding-top: 85px;
  padding-bottom: 75px;
  max-width: 90%;
}

.discount-container-heading {
  font-size: 19pt;
}

.discount-container-heading > hr {
  max-width: 66px;
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: 30px;
  border: none;
  height: 3px;
  background: white;
}

.discount-container-body {
  font-size: 10pt;
}

.discount-input-fields {
  margin-top: 28px;
}

.input-discount {
  border: 2px solid #ffffff;
  font-size: 12pt;
  padding: 15px 50px 15px 15px;
  max-width: 50%;
  background: transparent;
  color: white;
}

.input-discount::placeholder {
  font-size: 8pt;
  color: white;
  font-weight: bold;
  opacity: 1;
}

.discount-button {
  margin-top: 40px;
}

.discount-button > .stacked-button-background {
  background: white;
  color: black;
  font-weight: bold;
  font-size: 8pt;
  padding-right: 50px;
  padding-left: 40px;
}

.newest-collections {
  margin-top: 100px;
}

.newest-collections-pagination-list {
  width: max-content;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
}

.newest-collections-pagination-list > li {
  text-align: center;
  border: 1px solid #d5d5d5;
  padding: 0;
  font-weight: bold;
  font-size: 8pt;
  margin-top: 12px;
}

.newest-collections-pagination-list > li:hover {
  background: #fac012;
  color: white;
}

.newest-collections-pagination-list li a {
  display: block;
  padding: 15px 27px;
}

.newest-collections-cards {
  margin-top: 66px;
}

.cards-child {
  position: relative;
  color: white;
  width: 100%;
  background: #f6f6f6;
  height: 234px;
  margin-bottom: 20px;
}

.cards-child-info {
  display: none;
  text-align: center;
  margin: 0 32px;
  padding-top: 67px;
}

.cards-child-title {
  font-size: 10pt;
  font-weight: bold;
}

.cards-child-price {
  font-size: 20pt;
  font-weight: bold;
}

.cards-child-description {
  font-size: 10pt;
  line-height: normal;
}

.cards-child:hover {
  background: #fac528;
}
.cards-child:hover .cards-child-info {
  display: block;
}
.contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-details {
  max-width: 170px;
}

.contact-title {
  font-size: 22pt;
  font-weight: bold;
}

.contact-subtitle {
  font-size: 12pt;
}

.our-address,
.our-phone-numbers,
.email-us {
  margin-top: 50px;
}

.our-address-location,
.our-address-title,
.our-phone-numbers-title,
.email-us-title {
  font-size: 10pt;
  font-weight: bold;
  margin-top: 15px;
}

.phone-numbers,
.emails {
  font-size: 10pt;
  margin-top: 15px;
}

.contact-form {
  margin-top: 20px;
  width: 100%;
}

.input-contact {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0px 15px 15px;
  border: 1px solid #dadada;
  margin-bottom: 10px;
}

.input-contact-textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 180px;
  padding: 15px 0px 15px 15px;
  border: 1px solid #dadada;
  margin-bottom: 10px;
}

.footer {
  margin: 0 -52px;
  background: #1c1105;
  color: white;
}
.footer-container {
  padding-bottom: 45px;
}
.footer-top-child-large {
  width: 80%;
  margin: 0 10%;
  margin-top: 85px;
}

.footer-top-child-small {
  width: 80%;
  margin: 0 10%;
  margin-top: 85px;
}

.footer-top-child-smaller {
  width: 80%;
  margin: 0 10%;
  margin-top: 85px;
}

.footer-top-child:last-child {
  margin-right: 0;
}

.details-text {
  color: #5d5144;
  font-size: 10pt;
  line-height: calc(10pt + 15px);
}

.details-read-more {
  margin-top: 25px;
}

.details-read-more-button {
  height: 20px;
  width: 20px;
  border: 1px solid #fac012;
  position: relative;
}

.arrow-yellow {
  margin-left: -1px;
  border: solid #f0b811;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.details-read-more-text {
  color: #f0b811;
  font-size: 8pt;
  line-height: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.socials {
  margin-top: 42px;
}

.social-icon {
  background: #5d5144;
  width: 28px;
  height: 28px;
  position: relative;
  margin-right: 10px;
}

.social-icon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-text-title {
  font-size: 10pt;
  color: #726658;
  font-weight: bold;
}

.social-text-subtitle {
  font-size: 8pt;
  color: #5d5144;
  font-weight: bold;
}
.socials-row {
  margin-bottom: 20px;
}

.seperator > hr {
  background: #281909;
  margin: 40px 0;
  border: none;
  height: 2px;
}

.footer-container-heading > hr {
  max-width: 66px;
  margin-left: 0;
  margin-top: 13px;
  margin-bottom: 30px;
  border: none;
  height: 3px;
  background: #fac012;
}

.star {
  display: inline-block;
  color: #5d5144;
}

.star::before {
  content: "\2605";
}

.checked {
  color: #fac012;
}

.product-container:hover .product-image {
  background: #e8b213;
}

.product-container:hover .product-image > img {
  display: block;
}

.product-image {
  height: 77px;
  width: 77px;
  margin-right: 10px;
  background: #44301a;
  position: relative;
}

.product-image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.product-info-title {
  font-size: 11pt;
  color: #5d5144;
  font-weight: bold;
}

.product-info-rating {
  margin-top: 0;
}

.product-info-price {
  margin-top: 16px;
  color: #fac012;
  font-size: 13pt;
}

.product-price-crossed {
  text-decoration: line-through;
  color: #5d5144;
  font-size: 10pt;
}

.product-seperator {
  margin: 20px 0;
  background: #281909;
  height: 1px;
}

.instagram-feed-row {
  margin-bottom: 10px;
}

.instagram-feed-row:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.footer-seperator {
  margin-top: 85px;
  background: #281909;
  height: 1px;
}

.footer-copyright {
  color: #9a8d7f;
  text-align: center;
  margin-top: 30px;
  font-size: 8pt;
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 64px;
  }
  .logo {
    margin: 0 10%;
  }
  .logo > img {
    width: 100%;
  }

  .header-items {
    float: right;
    margin: 0;
  }

  .hamburger-menu {
    display: block;
  }

  .featured-content {
    display: block;
  }

  .featured-content-properties-child {
    width: 50%;
    margin-top: 20px;
  }

  .search-header-item,
  .cart-icon {
    margin-top: 0;
  }
  .cart-details {
    margin-top: -10px;
  }
  .hamburger-menu {
    height: 31px;
  }
  .featured-product-child {
    width: calc(100% / 2 - 10px);
    margin-top: 10px;
    margin-right: 10px;
  }

  .latest-furniture-cards-child {
    width: calc(50% - 12px);
    margin-right: 10px;
  }
  .latest-furniture-cards-child-sub-heading {
    padding: 0 24px;
  }
  .latest-posts-cards-child {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  .newest-collections-pagination-list > li {
    float: left;
    margin: 0 6px;
  }
  .cards-child {
    width: calc(50% - 10px);
    margin: 5px 5px;
  }
  .contact-form {
    width: 59%;
  }
  .footer-top-child-large {
    width: 30%;
  }
  .footer-top-child-small {
    width: 28%;
    margin-top: 92px;
  }
  .footer-top-child-smaller {
    width: 25%;
  }
}

@media screen and (min-width: 1366px) {
  .header-items {
    margin-right: 10%;
  }
  .navbar {
    margin-top: 235px;
  }
  .navbar-items-list {
    display: block;
  }
  .navbar-hamburger-menu {
    display: none;
  }
  .featured-content-properties-child {
    width: calc(33.33% - 10px);
    margin-right: 10px;
  }
  .featured-product-child {
    width: calc(100% / 3 - 10px);
  }
  .featured-product-child:last-child {
    margin-right: 0;
  }
  .latest-furniture-cards-child {
    width: calc(25% - 12px);
  }
  .latest-furniture-cards-child-sub-heading {
    padding: 0 13px;
  }

  .choose-youniverse-container {
    max-width: 30%;
    margin-right: calc(10% + 70px);
  }
  .latest-posts-cards-child {
    width: calc(33.33% - 25px);
    margin-right: 25px;
  }

  .discounts {
    background: linear-gradient(105deg, #f6f6f6 40%, #323232 40%);
  }
  .discounts-container {
    max-width: 35%;
  }
  .cards-child {
    width: calc(33.33% - 10px);
  }
  .footer-top-container {
    margin: 0 auto;
    width: max-content;
  }
  .footer-top-child-large {
    min-width: 227px;
    width: 23.61%;
    margin: 0;
    margin-top: 85px;
    margin-right: 6.14%;
  }

  .footer-top-child-small {
    max-width: 217px;
    margin: 0;
    margin-top: 85px;
    margin-right: 6.14%;
  }

  .footer-top-child-smaller {
    max-width: 174px;
    margin: 0;
    margin-top: 85px;
  }
}

@media screen and (min-width: 1920px) {
  .header-items {
    margin-right: 20%;
  }
  .choose-youniverse-container {
    max-width: 30%;
    margin-right: calc(20% + 70px);
  }
}
